$first-color: #AEB4A6;
$botton-color: #94DE1D;

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	font-size: 16px;
}

@function emSize($size){
    @return #{0.0625 * $size}em;
}

@function remSize($size){
    @return #{0.0625 * $size}rem;
}

@function calcs($size, $di){
	@return #{$size / $di}px;
}
@function calcsV($size, $di){
	@return #{$size / $di}vh;
}

@function calcRem($size, $di){
	@return $size / $di;
}

@mixin mitad($width, $height: auto){
    @if($height: auto){
		width: #{$width / 2}px;
	}@else{
		width: #{$width / 2}px;
		height: #{$height / 2}px;
	}
}

@mixin sameSize($size){
    width: #{$size}px;
    height: #{$size}px;
}
@mixin response-to($width){
	@media (max-width: $width){
		@content
	}
}

.App{
	background: url("../assets/bg.png") no-repeat center center / cover;
	min-height: 100vh;
	width: 100vw;
}

@import "nav";
@import "grow";
@import "social";